mavenProject/target/
mavenProject/.idea/
vincent-quartz/target/
vincent-quartz/vincent-quartz.iml
vincent-common/target/
vincent-common/vincent-common.iml
vincent-kafka/target/
vincent-kafka/vincent-kafka.iml

file2DB/.idea/
file2DB/logs/
file2DB/log/
file2DB/file2DB.iml
file2DB/file2DB-service/target/
file2DB/file2DB-service/logs/
file2DB/file2DB-service/.idea/
file2DB/file2DB-service/file2DB-service.iml
file2DB/file2DB-web/target/
file2DB/file2DB-web/file2DB-web.iml
file2DB/file2DB-common/target/
