<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">

	<!-- 扫描包加载Service实现类 -->
	<!--<import resource="classpath:spring/yjl-service.xml" />-->
	
	<!-- 事务配置 -->

	<!--<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		&lt;!&ndash; 数据源 &ndash;&gt;
		<property name="dataSource" ref="dataSource-user" />
	</bean>-->
	
</beans>
